/* 背景画像を設定 */
body{
  background: linear-gradient(-20deg, #11a0f3 0%, #b1e1f9 100%);
}

/* タイトルと検索を中央表示 */
h1,p{
  text-align: center;
}
/* ボックスを作り、ポジションを決める */
.box1 {
  position:relative;
  height:auto;
  margin:auto;
}
/* マップをボックスに全面表示 */
.box1 img.map{
  width:100%;
}
/* ピンの設定 */
.box1 img.pin{
  width: 30px;
  height:30px;
  position:absolute;
  transform: translate(-50%,-50%);
  color:#FFF;
}
/* ピンをホバーした */
img.pin:hover{

  opacity:0.5;/* 透明度 */
  cursor:pointer;/* 画像をホバーしたときのカーソルにする */
}

/* 画像をクリック時 */
img.pin[name="カイロ"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 32%;
}
img[name="カイロ"]{
  top: 31%;
  left: 57%;
}
img.pin[name="モスクワ"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 22%;
}
img[name="モスクワ"]{
  top: 21%;
  left: 59%;
}
img.pin[name="ヨハネスブルク"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 58%;
}
img[name="ヨハネスブルク"]{
  top: 57%;
  left: 56%;
}
img.pin[name="北京"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 28%;
}
img[name="北京"]{
  top: 27%;
  left: 77.5%;
}
img.pin[name="東京"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 30%;
}
img[name="東京"]{
  top: 29%;
  left: 83.5%;
}
img.pin[name="シンガポール"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 45%;
}
img[name="シンガポール"]{
  top: 44%;
  left: 75%;
}
img.pin[name="シドニー"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 62%;
}
img[name="シドニー"]{
  top: 61%;
  left: 86%;
}
img.pin[name="ロンドン"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 21.5%;
}
img[name="ロンドン"]{
  top: 20.5%;
  left: 49.5%;
}
img.pin[name="パリ"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 23%;
}
img[name="パリ"]{
  top: 22%;
  left: 50%;
}
img.pin[name="リオデジャネイロ"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 55%;
}
img[name="リオデジャネイロ"]{
  top: 54%;
  left: 39%;
}
img.pin[name="ニューヨーク"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 28%;
}
img[name="ニューヨーク"]{
  top: 27%;
  left: 31%;
}
img.pin[name="ロサンゼルス"]:active{
  /* 押した感を演出 */
  position:absolute;
  top: 40%;
}
img[name="ロサンゼルス"]{
  top: 39%;
  left: 28%;
}

/* モーダルCSSここから */
.modalArea {
  visibility: hidden; 
  opacity : 0;
  position: fixed;
  z-index: 10; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .4s;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.is-show { /* モーダル表示用クラス */
  visibility: visible;
  opacity : 1;
}
/* モーダルCSSここまで */

/* お天気カードの設定 */
.card{
  width: auto;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,.2)
}
.card__imgframe{
  width: auto;
  height: auto;
  background: linear-gradient(-20deg, #11a0f3 0%, #b1e1f9 100%);
  box-sizing: border-box;
}
.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
}
.card__textbox > * + *{
  margin-top: 10px;
}
.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext{
  font-size: 15px;
  line-height: 150%;
}

.musicset {
  display: block;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%; 
}
.music_content{
  background: #fff;
  width: 500px;
  margin: 25% auto;
}