table,
td {
    border: 1.0px solid black;
}

thead,
tfoot {
    background-color: rgba(0, 0, 0, 0.337);
    color:black;
}

th.special {
    font-size: 30px;
    background-color: rgb(7, 255, 243);
    color:black;
}

table th {
    padding: 10px;
  }

  table td {
    padding: 3px 10px;
  }

  table {
    border-collapse: collapse;
  }

  table th, table td {
    border: solid 1px black;
  }